input[type='checkbox']{
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 35vw;
}
#DarkMode:checked ~ *{
    filter: invert(100);
}
img{
    height: 300px;
    width: 500px;
    margin-left: 60px;
}

#DarkMode::before{
    content: 'Dark-Mode';
    width: 80px;
    display: flex;
    color: #ffff;
    background-color: #3333;
    padding: 10px 20px;
    cursor: pointer;
}
#DarkMode:checked:before{
   content: 'light-mode';
   color: #333;
   background-color: #fff;
}
img{
    width: 750px;
    height: 500px;
    filter: inherit;
}

