@media(min-width:500px){
    header{
        display: flex;
        height: 100%;
    }
    .header-text{
        height: 100%;
    }
    #header-img{
        height: 100vh;
    }
}
@media(min-width:700px){
   .header-btn{
       padding: 1rem 3rem;
    }
    
}